<div class="container">
  <div class="form_container"
    <form action="/shorten" method="post">
      <label for="long_url">Long URL: </label>
      <input class="url_input" id="long_url" type="text" name="long_url">
      <input class="submit_button" type="submit" value="Shorten">
    </form>
  </div>
  <% if @urls %>
    <div class="url_list_container">
      <ul>
        <% @urls.each do |url| %>

        <% end %>
      </ul>
    </div>
  <% end %>
</div>
