<div class="container">
  <div class="form_container"
    <form action="/shorten" method="post">
      <label for="long_url">Long URL: </label>
      <input class="url_input" id="long_url" type="text" name="long_url">
    </form>
  </div>
  <% if @urls %>
    <div class="url_list_container">
      
    </div>
  <% end %>
</div>
